/* Mobile Styles */
@media (max-width: 768px) {
  .infopage {
    padding: 20px;
  }
  p {
    text-align: center;
    margin-bottom: 20px;
  }
  a {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}

/* Laptop/Desktop Styles */
@media (min-width: 769px) {
  .infopage {
    padding: 50px;
  }
  p {
    text-align: center;
    margin-bottom: 50px;
  }
  a {
    display: inline-block;
    margin-right: 20px;
  }
}
