/* Base Styles */
.footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center; /* Center-align content */
  }
  
  .footer-section {
    margin-bottom: 20px;
  }
  
  .footer p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .social-media ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove default margin */
  }
  
  .social-media ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-media ul li:last-child {
    margin-right: 0;
  }
  
  .social-media ul li a {
    color: #333;
    text-decoration: none;
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 600px) {
    .footer {
      padding: 10px;
    }
  
    .footer p {
      font-size: 16px;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .footer {
      padding: 20px;
    }
  
    .footer p {
      font-size: 18px;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 1025px) {
    .footer {
      padding: 30px;
    }
  
    .footer p {
      font-size: 20px;
    }
  }
  